@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

/* main */
main {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 1rem;
  color: darkslategray;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
  position: relative;
  width: 100%;
}

.text p {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 1rem;
  color: #555;
  width: 60%;
}

/* flex-center */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
  position: relative;
}

.container {
  background-color: aliceblue;
  height: 100%;
  width: 100%;
}

.file-upload-form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload-label input {
  display: none;
}

.file-upload-label svg {
  height: 50px;
  fill: rgb(82, 82, 82);
  margin-bottom: 20px;
}

.file-upload-label {
  cursor: pointer;
  background-color: #ddd;
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed rgb(82, 82, 82);
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}

.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.browse-button {
  background-color: rgb(82, 82, 82);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}

.browse-button:hover {
  background-color: rgb(14, 14, 14);
}

/* Progress Bar */
#progress-container {
  margin-top: 10px;
  display: none; /* Initially hidden */
}

#progress-bar {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#progress-text {
  text-align: center;
  margin-top: 5px;
}

/* Success and Error Messages */
#success-message,
#error-message {
  margin-top: 10px;
}

#success-message {
  color: green;
}

#error-message {
  color: red;
}

/* result */
.result {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem;
}

.no-images-message {
  text-align: center;
  font-size: 2rem;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* thumbnail */
.thumbnail {
  position: relative;
  display: inline-block;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.thumb-nail {
  border: 1px solid #ffffff;
  border-radius: 8px;
  height: 300px;
  width: 350px;
  position: relative;
  object-fit: cover;
  transition: transform 0.3s, filter 0.3s;
}

.thumb-nail::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 8px;
}

.thumbnail:hover .thumb-nail {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.thumbnail:hover .thumb-nail::before {
  opacity: 1;
}

img {
  width: 350px;
  position: relative;
}

/* Styles for image options */
.image-options {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.image-options button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 5px;
}

.image-options button i {
  margin-right: 5px;
  font-size: 1rem;
}

.thumbnail:hover .image-options {
  display: flex;
  justify-content: space-around;
}

/* Additional styles specific to this implementation */
.heart-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.heart-container .checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.heart-container .svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-container .svg-filled,
.heart-container .svg-celebrate {
  display: none;
}

.heart-container .checkbox:checked ~ .svg-container .svg-outline {
  display: none;
}

.heart-container .checkbox:checked ~ .svg-container .svg-filled,
.heart-container .checkbox:checked ~ .svg-container .svg-celebrate {
  display: inline-block;
}

.close:hover,
.close:focus {
  color: rgba(228, 163, 12, 0.963);
  text-decoration: none;
  cursor: pointer;
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

/* Center modal content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 2;
  position: relative;
  display: flex;
}

/* Close button */
.close {
  color: #007bff;
  background: aliceblue;
  padding: 3px 10px;
  border: 1px solid rgb(230, 241, 250);
  border-radius: 50%;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
  margin-left: auto;
}

.crop-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crop-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.crop-feature {
  flex: 0 0 30%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-left: 1px solid #ddd;
  overflow-y: auto;
}

.crop-feature h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.crop-feature p {
  font-size: 1rem;
  color: #555;
}

.left-btn {
  display: flex;
  margin-top: auto;
  float: left;
  flex-direction: row;
  text-align: left;
  justify-content: start;
}

.crop-container .accept-btn-1 {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 6px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.crop-container .accept-btn-2 {
  padding: 10px 20px;
  background-color: rgba(12, 120, 115, 0.877);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.crop-container .accept-btn-1:hover {
  background-color: #09787b8c;
}

.crop-container .accept-btn-2:hover {
  background-color: #0056b3;
}

/* Prevent body scroll when modal is open */
body.modal-open {
  overflow: hidden;
}

/* Additional styles */
.no-img-msg {
  text-align: center;
  font-size: 2rem;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.drag-over {
  border: 2px dashed #007bff;
  background-color: #f0f8ff;
}

/*=========================== .footer-container ========================*/
.footer-container {
  background-color: rgb(10, 55, 55);
  width: 100%;
  margin: 1rem 0 auto;
  padding: 12px;
  text-align: center;
}

/* footer */
.footer-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.footer-row i.fab {
  color: #f4f4f4;
  margin: 12px;
  font-size: 1.1rem;
}

/*=================== .copyright =========================*/
.copyright {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  color: #ffffff;
}

@media screen and (max-width: 1168px) {
  .text p {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .text p {
    width: 80%;
  }
}

@media screen and (max-width: 668px) {
  .text p {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .text p {
    width: 95%;
  }
}

/* Crop controls */
.crop-nav-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  left: 5px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
}

.example-2 {
  background: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-items: left;
  width: 100%;
  max-width: 70px;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  align-items: left;
  margin: 1rem 0px;
}

.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}

.example-2 .icon-content .tooltip {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(50%);
  color: #fff;
  padding: 6px 14px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: 6px;
}

.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  color: #4d4d4d;
  background-color: #ffff;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}

.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 25px;
  height: 25px;
}

.example-2 .icon-content a:hover {
  color: white;
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="crop"] .filled,
.example-2 .icon-content a[data-social="crop"] ~ .tooltip {
  background-color: #1db954;
}

.example-2 .icon-content a[data-social="effect"] .filled,
.example-2 .icon-content a[data-social="effect"] ~ .tooltip {
  background-color: #bd081c;
}

.example-2 .icon-content a[data-social="resize"] .filled,
.example-2 .icon-content a[data-social="resize"] ~ .tooltip {
  background-color: #ea4c89;
}

.example-2 .icon-content a[data-social="text"] .filled,
.example-2 .icon-content a[data-social="text"] ~ .tooltip {
  background-color: #0088cc;
}

.example-2 .icon-content a[data-social="settings"] .filled,
.example-2 .icon-content a[data-social="settings"] ~ .tooltip {
  background-color: lightseagreen;
}
